@import "tailwindcss";

body {
    overflow-x: hidden !important;
    position: relative;
    max-width: 100vw;
}

html {
    overflow-x: hidden !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}